.glass {
      background: #ffffff0d;
      backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px); 

     background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      );
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
       
}

  .gallery-img {
      width: 100%;
      max-width: 600px;
      height: 300px;
      object-fit: cover;
      border-radius: 12px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
    }

    @media (min-width: 640px) {
      .gallery-img {
        height: 400px;
      }
    }

    .dot {
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .dot.active {
      background-color: #fb923c;
      width: 2rem;
    }

    .swiper-button {
      transition: all 0.3s ease;
    }

    .swiper-button:hover {
      transform: scale(1.1);
    }

    .swiper-button:active {
      transform: scale(0.95);
    }


    